* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: rgba(13, 131, 182, 0.68);
}

.time {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.wrapper {
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 440px;
    flex-direction: column;
}

.wrapper img {
    max-width: 103px;
    margin: 20px 20px 10px 20px;
}

.wrapper h1 {
    font-size: 3rem;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
}

.time .collums {
    border-radius: 5px;
    border: 1px solid;
    width: calc(100% / 3 - 5px);
}

.collums select {
    outline: none;
    border: none;
    height: 40px;
    width: 100%;
    font-size: 16px;
}

.wrapper button {
    outline: none;
    border: none;
    width: 88%;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    margin: 15px;
    background-color: rgba(13, 131, 182, 0.68);
    cursor: pointer;
}

.wrapper .time .disable {
    opacity: 0;
    pointer-events: none;
}